* {
    box-sizing: border-box;
}

@font-face {
    font-family: nunito;
    src: url('Nunito-VariableFont_wght\ \(1\).ttf');
}
.landing_application_body
{
    max-width: 100%;
}
.navigation_{
    margin-left: 20%;
    gap: 40px;
    display: flex;
}
.navigation_bar
{
    display: flex;
}
.navigation_bar a 
{
    margin-left: 4cm;
    text-decoration: none;
    color: #000;
}
#signup_btn
{
    /* background: linear-gradient(#ca4d62 rgb(228, 176, 185)) */
    color: white;
    background-color: rgb(148, 130, 130);
    padding: 0.5cm;
    margin-left: 2cm;
}
.signup a
{
text-decoration: none;
color: #000;
}
#charge
{
    color: red;
}
.download
{
    border: solid black;
    height: 22cm;
    padding-left: 5cm;
    padding-top: 2.5cm;
    background-color: rgb(214, 214, 224);
}
.download h1{
    font-size: 490%;
    
}
.download p
{
    font-size: x-large;
}
.profile
{
    max-width: 40%;
    position: absolute;
    top: 3cm;
    left: 30cm;
    height: 16cm;
    width: 15cm;
    border-radius: 2cm;
    background-color: white;
    rotate: -10deg;
    padding-left: 0.5cm;

}
#girl-profile
{
    width: 30%;
    border-radius: 1.3cm;
}
.tobepaid
{
    
    display: flex;
}
.tobepaid p
{
    font-size: 120%;
    margin-top: 1.5cm;
}
.work
{
    
    display: flex;
}
.work_days 
{
    margin-left: 6cm;
}
.work h3{
    font-size: x-large;
}
.work p{
    font-size: larger;
}
.salary
{
    
    display: flex;
}
.salary h3{
    font-size: large;
}
.salary p{
    font-size: large;
}
#customer
{
    margin-left: 4.4cm;
}
.fast-number {
    transform: rotate(-5deg);
    border: solid 5px rgb(85, 235, 255);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    padding-top: 30px;
    padding-left: 20px;
    border-top: none;

}

.fast-percentupload {
    display: flex;
    gap: 20px;
    margin-left: 59%;
    background-color: white;
    width: fit-content;
    width: 40%;
    transform: rotate(-3deg);
    padding-left: 20px;
    border-radius: 15px;
    margin-top: 2%;
    position: absolute;
    right: 6cm;
    top: 16cm;
    
}
#business-growth {
    
    text-align: center;
    font-size: 190%;
    
}
.products {
    margin-top: 70px;
    display: flex;
    gap: 10%;
    margin-left: 6cm;
    
}

.easy-interface {
    background-color: white;
    border-radius: 10px;
    width: 20%;
    height: 7cm;
    padding-left: 15px;
    border: solid 2px pink;
    border-radius: 20px;
    text-align: center;
    font-size: 150%;
}

.secured-transfers {
    background-color: white;
    border-radius: 10px;
    width: 20%;
    padding-left: 1px;
    text-align: center;
    font-size: 150%;
}
.support-247 {
    background-color: white;
    border-radius: 10px;
    width: 20%;
    padding-left: 15px;
    text-align: center;
    font-size: 150%;
}
#product-work
{
    text-align: center;
    font-size: 250%;
}
#product-work span
{
    color: red;
}

.statistics
{
    border: solid black;
    margin-top: 2cm;
    padding-left: 3cm;
    margin-bottom: 1cm;
    padding-bottom: 1cm;
}

.ditio_numbers h1
{
    font-size: 280%;
}
.ditio_numbers a
{
    font-size: 200%;
}
.ditio_numbers p
{
    font-size: 150%;
}
.downloads_users
{
    display: flex;
    gap: 5cm;
    font-size: 170%;
}
.group_subscribers
{
    display: flex;
    gap: 5cm;
    font-size: 170%;
}
.create_account
{
    z-index: 2;
    display: flex;
    position: absolute;
    background-color: white;
    left: 31cm;
    top: 39cm;
    padding-left: 0.5cm;
    padding-right: 0.5cm;
}
.create_account button{
    margin-top: 0.5cm;
    margin-left: 1cm;
    width: 3cm;
    height: 1.5cm;
    border-radius: 10cm;
    color: white;
    background-color: rgb(74, 74, 116);
    border: none;
    
}
#color
{
    height: 2cm;
    background-color:rgb(223, 168, 168);
    border-radius: 0.5cm;
    border-radius:  0.5cm 0.5cm 0cm 0cm;
}
.vectors
{
    
    max-width: 30%;
    height: 12.5cm;
    position: absolute;
    top: 40cm;
    left: 30cm;
    border-radius: 0.5cm;
    background-color: rgb(248, 242, 244);
}
#manvector
{
    margin-left: 1cm;
    width: 30%;
    border: solid black;
    border-radius: 10cm;
    margin-top: 0.1cm;

}
#womanvector
{
    
    width: 70%;
    border: solid black;
    border-radius: 10cm 10cm 10cm 10cm;
        
}
.womanvector_div
{
    padding-left: 8cm;
}
.study_withme
{
    
    position: absolute;
    background-color: white;
    border-radius: 0.5cm;
    z-index: 2;
    position: absolute;
    background-color: white;
    left: 28cm;
    top: 49cm;
    padding-left: 0.3cm;
    padding-right: 0.3cm;
    padding-bottom: 0.2cm;
    text-align: center;
}
.study_withme button{
    
    margin-left: 0.3cm;
    width: 3cm;
    height: 1.5cm;
    border-radius: 10cm;
    color: white;
    background-color: rgb(74, 74, 116);
    border: none;
}
.customer_help
{
    text-align: center;
}
.customer_help span
{
    color: red;
}
.customer_help h1{
    font-size: 250%;
}
.mobile_interface{

    height: 15.8cm;
    padding-left: 5cm;
    padding-top: 2.5cm;
    background-color: rgb(249, 249, 252);
    overflow: hidden;
    
}
.mobile_interface h1{
 font-size: 200%;
}
.mobile_interface p{
    font-size: 150%;
}
.mobile_interface button
{
    font-size: 100%;
    font-weight: 700;
    margin-left: 0.3cm;
    width: 5cm;
    height: 2cm;
    border-radius: 0.5cm;
    color: white;
    background-color: rgb(74, 74, 116);
    border: none;
}
.settings
{

    height: 11cm;
    width: 20%;
    position: absolute;
    background-color: white;
    padding-bottom: 1.5cm;
    border-radius: 1cm;
    top: 63cm;
    left: 26cm;
    rotate: 8deg;
}
.settings img
{
    height: 1cm;
    width: 1cm;
}
.user_settings
{
    display: flex;
}
.setting i{
    margin-left: 10cm;
}
.languae_settings
{
    display: flex;
}
.makenew_friends
{
    position: absolute;
    left: 37cm;
    background-color: white;
    padding-left: 1cm;
    padding-right: 1cm;
    padding-top: 1.5cm;
    top: 60cm;
    rotate: 10deg;
    border-radius: 1cm;
    
}
.makenew_friends
{
    text-align: center;
}
.makenew_friends button
{
    width: 5cm;
    height: 2cm;
    border-radius: 0.8cm;
    margin-bottom: 1cm;
    
}
.make_friends
{
    position: absolute;
    display: flex;
    top: 70cm;
    padding-left: 0.6cm;
    padding-right: 0.6cm;
    left: 35.5cm;
    background-color: white;
    text-align: center;
    padding-bottom: 1cm;
    border-radius: 1cm;
    rotate: 9deg;
    
    
}
.make_friends i
{
    font-size: x-large;
    margin-top: 0.4cm;
}
.make_friends img{
    margin-top: 0.9cm;

}
#clientwords
{
    text-align: center;
    font-size: 350%;
}
#clientwords span
{
    color: red;
    
}


.edwin-zohir {
    display: flex;
    gap: 10%;
    margin-bottom: 2cm;
    font-size: x-large;
}

.edwin-words {
    margin-left: 15%;
    border: solid 2px pink;
    border-radius: 20px;

    padding-left: 20px;
}

#edwin-font {
    font-size: 20px;
}

#angel-style {
    width: 20%;
    height: 20%;
    border-radius: 60px;
}

.edwin-image {
    display: flex;
    gap: 230px;
}

#jecson-style {
    width: 20%;
    height: 20%;
    border-radius: 60px;
}

.jecson-image {
    display: flex;
    gap: 230px;
}

.img-download-app {
    margin-top: 10%;
    display: flex;
    margin-left: 15%;
    margin-bottom: 2cm;
}

#yellowhair_img {
    width: 70%;
}

.download-stats {
    margin-top: 30px;
    width: 20cm;
    padding-left: 2cm;
    
}
#download-style{
    font-size: 35px;
}

#platform{
    margin-top: 2cm;
    font-size: larger;
        
}
#platform a{
    color: black;
}
.download-stats button{
    height: 2cm;
    width: 5cm;
    border-radius: 0.5cm;
    background-color: rgb(5, 5, 56);
    color: white;

}














.Contacts
{
    display: flex;
}


footer{
    background-color: #283150;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 2%;
    flex-wrap: wrap;
    flex-direction: column;

    li:not(:first-child) {
        color: gray;
    }
}

footer div{
    flex: 1;
   
}

.upper-footer{
    display: flex;

}
#dit-logo{
    height: 28px;
    margin-top: 1.4%;
    margin-left: 40px;
}

.policy-terms{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: rgb(10, 10, 24);
    padding: 3%;
    margin: 0 -5% -2% -2%;
    font-size: large;
  
}

footer.term-policy p:nth-last-child(1) {
    border-left: 3px solid white;
    padding-left: 15%;
}

@media only screen and (max-width: 1270px) {
    .navigation_bar{
        flex-direction: column;
        align-items: center;

    }
    .navigation
    {
        margin-left: 0;
        flex-direction: column;
        align-items: center;
        gap: 22px;
    }
    .signup{
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        width: auto;
    }
    
    
    .signup_btn {
        width: 150px;
        margin-top: 10px;
    }
    .download{
        flex-direction: column;
        align-items: center;
    }
    .improvement-part {
        margin-left: 5%;
        text-align: center;
    }
    .side-part {
        margin-left: 5%;
        width: 80%;
        transform: rotate(0deg);
    }
    #beard-man-image {
        margin-top: -20%;
        margin-left: 25%;
        width: 50%;
    }
    .fast-percent {
        margin-left: 10%;
        width: 50%;
    }

    


    .img-download-app {
        flex-direction: column;
        align-items: center;
        margin-left: 5%;
    }
    .app-play-button {
        margin-left: 0;
        margin-top: 20px;
    }
    #platform {
        margin-left: 0;
    }
    footer {
        padding: 5%;
    }
    .upper-footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .policy-terms {
        flex-direction: column;
        gap: 10px;
    }





}
